@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root{
  --primarybg:  #fff;
  --layerColor: #fff;
  --lightLayer: #fff;
  --fontColor: #000;
  --heading-color: #292922;
}

[data-theme="dark"]{
  --primarybg:  #171717;
  --layerColor: #282C34;
  --lightLayer: #2F2F2F;
  --fontColor: #fff;
  --heading-color: #818cab;
}

body{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  transition: background-color 1s;
  background-color: var(--primarybg) !important;
  color: var(--fontColor) !important;
  
}


/* ----------------------------------------------- navbar ----------------------------------------------------------*/
.navbar {
  padding: 13px;
  box-shadow: 1px 8px 17px -12px rgba(0, 0, 0, 0.15);
  background-color: var(--layerColor);
}

.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 25px !important;
  color:var(--fontColor) !important;
}

/* ----------------------------------------------- blackMode ----------------------------------------------------------*/

.checkbox{
    opacity: 0;
    position: absolute;
}

.label-checkbox {
    position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  height: 26px;
  width: 50px;
  border-radius: 50px;
  padding: 5px;
}

.ball{
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    top: 2px;
    left: 2px;
    transition: transform 0.2s linear;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}


.checkbox:checked + .label-checkbox .ball{
    transform: translateX(24px);
}